<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ipc.thesis.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:debuggable="true"
        android:icon="@drawable/my_events"
        android:label="@string/app_name" >
        <activity
            android:name="MainView"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateNewEventActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ServiceSettingsActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name="SelectContactsActivity" >
        </activity>
        <activity android:name="MyEventsListActivity" >
        </activity>
        <activity android:name="MyEventDetailsActivity" >
        </activity>
        <activity android:name="FriendsEventsListActivity" >
        </activity>
        <activity android:name="EventVotingActivity" >
        </activity>
        <activity android:name="ConfirmedEventListActivity" >
        </activity>
        <activity android:name="ConfirmedEventDetailsActivity" >
        </activity>

        <service android:name="LocalBackgroundService" />
    </application>

</manifest>